# Ignore virtual environment directory
.venv

# Ignore Git files
.git/
.gitignore

# Ignore cache and temporary files
__pycache__/
*.pyc
*.pyo
*.egg-info
*.log

# Ignore editor and system files
*.swp
*.swo
.DS_Store
